<h1>New message</h1>
<%= render 'layouts/errors', object: @message  %>

<%= form_for @message, remote: true do |f| %>
<%= f.label :to %>
<%= f.text_field :to %>
<%= f.label :from %>
<%= f.text_field :from %>
<%= f.label :body %>
<%= f.text_field :body %>
<%= f.submit %>
<% end %>
